# Hugo Specific
/public
/resources/_gen
/.hugo_build.lock

# Go Specific
/bin/
/pkg/
# go.sum # Keep go.sum tracked for reproducible builds

# Node.js/npm Specific
/node_modules
package-lock.json # Keep package-lock.json tracked for consistent builds
# yarn.lock       # If you use Yarn, keep this tracked
# pnpm-lock.yaml  # If you use pnpm, keep this tracked
/dist
/build

# Editor Specific - Common
.DS_Store
.Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.log
*.orig
*.pyc
__pycache__/

# OS Specific
._*
.Spotlight-V100
.Trashes
ehthumbs.db
desktop.ini

# Other - Adjust as needed
# /themes/your-theme/static/ # If your theme has large, rarely changing static assets

# Add any other project-specific files or directories you want to ignore